html
  head
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

    title Ama-Deus
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body        
    .container
        .row
            //- form(role='form', method='POST', action='/create-practitioner').form-inline
            form(role='form').form-inline    
                h4 New Practictioner
                .form-group.admin-input
                    input(type='text', name='name', placeholder='Name').form-control
                .form-group.admin-input
                    input(type='text', name='country', placeholder='Country').form-control
                .form-group.admin-input
                    input(type='email', name='email', placeholder='Email').form-control
                .form-group.admin-input
                    input(type='text', name='region', placeholder='Region').form-control
                input(type='submit', value="submit").btn.btn-default.practitioner-submit
        .row
            table.table.table-hover.display-table        
                for practitioner in practitioners
                    tr(data-id = '#{practitioner._id}')
                        td(name='name').name-cell.editable-field.text-capitalize #{practitioner.name}
                        td(name='country').country-cell.editable-field.text-uppercase #{practitioner.country}
                        td(name='email').email-cell.editable-field #{practitioner.email}
                        td(name='region').region-cell.editable-field.text-capitalize #{practitioner.region}
                        td
                            .span.crud-control.delete-entry x
script(src="http://code.jquery.com/jquery-2.0.3.min.js")
script(src="javascripts/admin.js")


